
body {
	margin: 0;
	background-color: #D3D3D3;
}
/* BASELAYOUT: HEADER
-------------------------------------------------------------- */
div.header {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	position: relative;
}

div.header a:hover {
	color: #8A2BE2;
}
div.header-image {
	position: absolute;
	padding-left: 5%;
	top: 0;
	left: 0;
}
div.header-image img {
	height: 134px;	
}

div.title {
	color: black;
	text-align: center;
	text-decoration: none;
}


div.header nav > ul {
	list-style: none;
	padding: 0;
	text-align: center;
}
div.header nav > ul > li {
	display: inline;
}
div.header nav > ul > li:first-child a {
	padding-left: 0;
}
div.header nav > ul > li > a  {
	display: inline-block;
	padding-left: 10px;
}
div.header nav > ul > li.active > a {
	color: #8A2BE2;
}


/* BASELAYOUT: MAIN PAGE CONTENT
-------------------------------------------------------------- */
div.content {
	margin: 0 8%;
}
div.content .inner-article{
	float: left;
	width: 65%;	
}
div.group-image img{
	width: 80%;
	padding: 0 10%;
}
div.content .inner-sidebar{
	float: right;
	padding: 0 0 0 5%;
	width: 30%;
}

div.block{
	margin: 10px 0 10px 0;
}

div.blockheader{
	text-align: center;
	background-color: #D8BFD8;
}

div.blockheader h3{
	margin: 0 0 0 0;
}
div.blockcontent{
	background-color: #E6E6FA;
}


#adress{
	text-align: center;
}
/* BASELAYOUT: FOOTER
-------------------------------------------------------------- */
div.footer {
	background-color: #fff;
	clear:both;
	text-align: center;
	line-height: 0;
	padding: 2px;
}