




/* BASELAYOUT: MAIN PAGE CONTENT
-------------------------------------------------------------- */



.w {
	font-size: 0.75em;
	font-weight: normal;
}


.footer {
	margin-top: 70%;
}


@media (max-width: 768px) {
	div.box {
		margin-top: 65%;
	}




