




/* BASELAYOUT: MAIN PAGE CONTENT
-------------------------------------------------------------- */

div.content .inner-article{
	float: left;
	width: 70%;	
	color: black;
}

.w {
	font-size: 0.75em;
	font-weight: normal;
}


.footer {
	margin-top: 70%;
}





