/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0 8%;
}

/*  COLUMN SETUP  */
.red { background-color: red;}
.green { background-color: green;}
h1 { 
		font-size: 36px; /* Some tweener fallback that doesn't look awful */ 
  		font-size: 5.4vw; 
  	}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.43%;
}

.span_6_of_8 {
  	width: 74.87%;
}

.span_5_of_8 {
  	width: 62.31%;
}

.span_4_of_8 {
  	width: 49.75%;
}

.span_3_of_8 {
  	width: 37.18%;
}

.span_2_of_8 {
  	width: 24.62%;
}

.span_1_of_8 {
  	width: 12.06%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}