

/* BASELAYOUT: MAIN PAGE CONTENT
-------------------------------------------------------------- */

div.part1 {
	border-style: solid;
	border-width: 1px;
	border-color: #5bc995;
	border-radius: 10px 10px 10px 10px;
	padding: 0;
	margin-top: 3%;
}
.w1 {
	text-align: center;
	/*font-weight: bold;*/
	margin: 0;
	border-style: none;
	border-radius: 10px 10px 0 0;
	background-color: #5bc995;
}

div.group-image {
	border-radius: 0 0 10px 10px;
}
div.group-image img{
	width: 100%;
	vertical-align: top;
	border-radius: 0 0 10px 10px;
}

.part2 {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
}

.person {
	width: 900px;
	height: 505px;
	border-style: solid;
	border-width: 1px;
	border-color: #5bc995;
    	border-radius: 10px 10px 10px 10px;
	margin: 2% 0;
	padding: 0;
	/*background-color: #5bc995;*/
}


div.photo {
	width: 450px;
}

div.photo img {
	width: 100%;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	float: left;
	margin-right: 50px;
}

div.person_desc {
	text-align: left;
	margin: 0;
	margin-top: 75px;
	padding: 4%;
	border: 0px solid #ff0000;
}

p.person_desc {
	margin: 0;
	padding-bottom:0; 
}

div.name {
	/*margin-top: 25px;*/
	font-size: 16pt;
	font-weight: bold;
	color: #000000;
}

p.core_area {
	padding-left: 1em;
}

div.core_area {
	font-weight: bold;
}

ul.core_area {
	margin-top: 0px;
	padding-left: 480px;
}

li.core_area {
	margin-top: 2px;
	padding-left: .3em;
	text-indent: -.1em;
}

p.add_qualif {
}

div.add_qualif {
	font-weight: bold;
}

ul.add_qualif {
	margin-top: 0px;
	padding-left: 480px;
}

li.add_qualif {
	margin-top: 2px;
	padding-left: .3em;
	text-indent: -.1em;
}

@media (max-width: 768px) {
	.part2 {
		-webkit-flex-direction: column;

	}
	.person {
		width: 50%;
		margin: 5% 25%;
	}
}








