

/* BASELAYOUT: MAIN PAGE CONTENT
-------------------------------------------------------------- */

div.part1 {
	border-style: solid;
	border-width: 1px;
	border-color: #5bc995;
    border-radius: 10px 10px 10px 10px;
    padding: 0;
    margin-top: 3%;
}
.w1 {
	text-align: center;
	/*font-weight: bold;*/
	margin: 0;
	border-style: none;
	border-radius: 10px 10px 0 0;
	background-color: #5bc995;
}

div.group-image {
	border-radius: 0 0 10px 10px;
}
div.group-image img{
	width: 100%;
	vertical-align: top;
	border-radius: 0 0 10px 10px;
}

.part2 {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
}
.p1, .p2, .p3, .p4, .p5, .p6 {
	width: 45%;
	border-style: solid;
	border-width: 1px;
	border-color: #5bc995;
    border-radius: 10px 10px 10px 10px;
	margin: 2% 0;
	padding: 0;
	/*background-color: #5bc995;*/
}


div.photo {
	width: 0 5%;
}

div.photo img {
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
 #small1 {
 	width: 85%;
 }
 #small2 {
 	width: 97%;
 }

div.w {
	text-align: center;
	margin: 0;
	padding: 4%;
	border-radius: 0 0 10px 10px;
	/*background-color: #5bc995;*/
}

.w21, .w22, .w23, .w24, .w25, .w26 {
	margin: 0;
	padding-bottom:0; 
}


@media (max-width: 768px) {
	.part2 {
		-webkit-flex-direction: column;

	}
	.p1, .p2, .p3, .p4, .p5, .p6 {

		width: 50%;
		margin: 5% 25%;
	}
}








