<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/logo.css">
</head>
<body>
	<div class="page-header">
		<div class="page-logo"><img src="pics/dummy-logo.jpg"></div>
		<h1  class="page-headline">Logop&auml;diepraxis Cora Ludwig</h1>
		<div class="page-main-menu">
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</div>
	</div>
	<div class="page-main-content">
		<div class="page-main-content-left"><p>text</p></div>
		<div class="page-main-content-right"><p>right</p></div>
	</div>
</body>
</html>